################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dbMapper
/dbMapper/3rdParties/FastColoredTextBox/obj
/dbMapper/bin
/dbMapper/obj
/dbMapper/dbMapper.csproj.vspscc
/dbMapper/dbMapper.csproj.user
/Archive
/.vs
*.vssscc
