<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DBMapper.Properties.Settings.PCPConnectionString"
      connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=localhost"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <DBMapper.Properties.Settings>
      <setting name="TraceSettings" serializeAs="String">
        <value />
      </setting>
    </DBMapper.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DBMapper.Properties.Settings>
      <setting name="UseConnectionRegistryFirst" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TopRowsPreview" serializeAs="String">
        <value>100</value>
      </setting>
    </DBMapper.Properties.Settings>
  </applicationSettings>
</configuration>
